.Container {
    height: 100%;
    width: 100%;
    .SubContainer {
        height: 100%;
        width: 100%;
        .Header {
            height: 10%;
            width: 100%;
            border-bottom: 0.5px solid rgb(211, 211, 211);
            padding: 15px;
            box-sizing: border-box;

            font-family: "Roboto";
            font-size: 22px;
            font-weight: 500;

            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .Body {
            height: 70%;
            width: 100%;
            padding: 10px;
        }
        .Footer {
            height: 10%;
            width: 100%;
            border-top: 0.5px solid rgb(82, 55, 156);

            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
