.Container {
    height: 100%;
    width: 100%;
    .SubContainer {
        height: 100%;
        width: 100%;
        .Header {
            height: 10%;
            width: 100%;
            border-bottom: 0.5px solid rgb(218, 92, 92);
            padding: 20px;
            box-sizing: border-box;

            font-family: "Roboto";
            font-size: 22px;
            font-weight: 500;

            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .Body {
            height: 80%;
            width: 100%;
            padding: 10px;
        }
        .Footer {
            height: 10%;
            width: 100%;
            border-top: 0.5px solid rgb(161, 173, 46);

            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
